</main>

<footer>
  <p>&copy; <%= new Date().getFullYear() %> Prathmesh Dasi. All rights reserved.</p>
  <div style="text-align: center; margin-top: 2rem;">
    <a href="https://github.com/PrathmeshDasi" target="_blank" style="margin: 0 10px; color: #c9d1d9;">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/prathamesh-dasi-167818258/" target="_blank" style="margin: 0 10px; color: #0a66c2;">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://x.com/PDasi9022" target="_blank" style="margin: 0 10px; color: #1DA1F2;">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
  </div>
</footer>

<!-- Scroll to Top Button -->
<button id="scrollTopBtn" style="display: none;" title="Go to top">
  <i class="fas fa-arrow-up"></i>
</button>

<script src="/js/scrollToTop.js"></script>
<script src="/js/typingEffect.js"></script>



</body>
</html>
